div.heading {
  border: solid silver 2px;
  text-align: center;
}

#essentials {
  font-size: 36;
  color: blue;
}

ul.nav {
  float: left;
}

ul.navbar li {
  display: inline;
}

ul.navbar a {
  border: 1px dashed #000;
  border-bottom: none;
  list-style-type: none;
  padding:5px 15px 5px 15px;
  background-color: #EAEAEA;
  text-decoration: none;
  color: #333;
}

div.info {
  float: left;
}
