body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

div.heading {
  border: solid #0000ff 2px;
  text-align: center;
  background-color: #727272;
}

div.info {
  background-color: #dfdfdf;
  height: 500px;
}

#essentials {
  font-size: 36;
  color: #0000ff;
}

#currentpage {
  border: 2px solid #000;
  border-bottom: none;
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  background-color: #dfdfdf;
  text-decoration: none;
  color: #000000;
}

ul.navbar {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
  padding-top: 0px;
  padding-bottom: 1px;
  border-bottom: 1px solid #000;
}

ul.navbar li {
  list-style-type: none;
  display: inline;
}

ul.navbar a {
  border: 2px solid #000;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 15px 2px 15px;
  margin-right: 5px;
  background-color: #646566;
  text-decoration: none;
  color: #ffffff;
}

ul.navbar a:hover {
  border: 2px solid #000;
  border-bottom: none;
  padding:5px 15px 5px 15px;
  margin-right: 5px;
  background-color: #bfbfbf;
  text-decoration: none;
  color: #000000;
}
